
.confirmar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmar-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
   
}

.validar-btn2{
    background: orange;
    border-radius: 20px;
    border: hidden;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}
.compartir-whatsapp-btn{
    cursor: pointer;
    background:none;
    border: hidden;
}
.wpp-ico{
    font-size: 80px;
    color: #4CAF50;
}

/* Estilo para los botones en estado activo */

  
  .form-btn.active.yes {
    
    color: white;
    transition: .4s;
    margin-bottom: 20px;
  }
  
  .form-btn.active.no {
   
    color: white;
    margin-bottom: 20px;
    transition: .4s;
  }
  
  .form-btn.active.maybe {
    
    color: white;
    margin-bottom: 20px;
    transition: .4s;
  }
  
 
  /* Estilo para el botón de validar en estado activo */
 
  
  /* Puedes agregar más estilos específicos para el estado activo según tus necesidades */
  

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.input {
    margin-bottom: 10px;
    width: 200px;
    height: 49px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Caveat', cursive;
    border-bottom: solid #f6aa93;
}

.btn {
    background-color: #db3734;
    border: hidden;
    font-size: 24px;
    color: #fff;
    padding: 5px;
    border-radius: 30px;
}

.form-btn {
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 0px;
    border: hidden;
    background: none;
    transition: .4s;
   
}


   .tarjet-text {
    position: relative;
    width: 700px;
   
  }
  
  

.mensaje{
    font-size: 38px;
}


@keyframes fadeIn {
    from {
        opacity: 0; /* Opacidad al principio de la animación */
    }
    to {
        opacity: 1; /* Opacidad al final de la animación */
    }
}

  
 
/* Media query para tablet (entre 600px y 767px) */
@media only screen and (max-width: 767px) {
    .imagen-tarjeta {
        height: 400px;
        width: 100%;
        animation: slideIn 2s ease-in-out;
    }
    .tarjet-text {
        text-align: left;
        width: 90%;
    }
    .text {
        font-size: 27px;
        color: #000000;
        font-family: 'Caveat', cursive;
        overflow: hidden;
        text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto si se corta */
        opacity: 0; /* Inicialmente oculto */
        animation: fadeIn  forwards; /* Nombre de la animación, duración y retención del último fotograma */
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

   
   /* Media query para móvil (menores de 600px) */
   @media only screen and (max-width: 599px) {
    
    .tarjet-text{
        
        margin-bottom: 30px;
    }
    
    .form-btn {
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        margin-bottom: 20px;
        margin-bottom: 0px;
        border: hidden;
        background: none;
        border-radius: 20px;
        transition: border-bottom 0.3s ease-in-out;
        transition: .4s;
        
    }
    .validar-btn{
        font-size: 18px;
        padding: 2px 10px;
        border: hidden;
        background-color: transparent;
        
    }
    .form-btn:hover {
        border-bottom: solid 2px #3498db; /* Cambia el color a tu preferencia */
    }
     
   }