
.confirmar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmar-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 10px;
   
}
.btn {
    border: hidden;
    cursor: pointer;
  
    background: none;
    font-size: 24px;
    color: #000000;
    padding: 5px;
    border-bottom: solid 2px;
    font-family: 'Caveat', cursive;
}
.validar-btn2{
    background-color: transparent;
    border: hidden;
    font-size: 28px;
    cursor: pointer;
    color: #ffffff;
    border-bottom: solid 2px;
    font-family: 'Caveat', cursive;
}
.compartir-whatsapp-btn{
    cursor: pointer;
    background:none;
    border: hidden;
    position: absolute;
    bottom: 10px;
    left: 160px;
}
.wpp-ico{
    font-size: 50px;
    color: #4CAF50;
}

/* Estilo para los botones en estado activo */

  
  .form-btn.active.yes {
   border-bottom: solid 4px green;
    color: rgb(255, 255, 255);
    
    
    
  }
  
  .form-btn.active.no {
    border-bottom: solid red 4px;
    color: rgb(255, 255, 255);
    
    
  }
  
  .form-btn.active.maybe {
    
    color: white;
    
   
  }
  
 
  /* Estilo para el botón de validar en estado activo */
 
  
  /* Puedes agregar más estilos específicos para el estado activo según tus necesidades */
  

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.input {
    margin-bottom: 10px;
    width: 200px;
    height: 49px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Caveat', cursive;
    border-bottom: solid #f6aa93;
}



.form-btn {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 0px;
    border: hidden;
    background: none;
    transition: .4s;
    font-family: 'Caveat', cursive;
}


   .tarjet-text {
    position: relative;
    width: 700px;
   
  }
  
  

.mensaje{
    font-size: 38px;
}


@keyframes fadeIn {
    from {
        opacity: 0; /* Opacidad al principio de la animación */
    }
    to {
        opacity: 1; /* Opacidad al final de la animación */
    }
}

  
 
/* Media query para tablet (entre 600px y 767px) */
@media only screen and (max-width: 767px) {
    .imagen-tarjeta {
        height: 300px;
        width: 100%;
        animation: slideIn 2s ease-in-out;
    }
    .tarjet-text {
        text-align: left;
        width: 70%;
    }
    .text {
        font-size: 24px;
        margin-top: 20px;
        color: #000000;
        font-family: 'Caveat', cursive;
        overflow: hidden;
        text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto si se corta */
        opacity: 0; /* Inicialmente oculto */
        animation: fadeIn  forwards; /* Nombre de la animación, duración y retención del último fotograma */
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

   
   /* Media query para móvil (menores de 600px) */
   @media only screen and (max-width: 599px) {
    
    .tarjet-text{
        
        margin-bottom: 20px;
    }
    .titulo-confirmacion{
        color: #fff;
        font-family: 'Caveat', cursive;
        font-size: 40px;
    }
    .form-btn {
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 20px;
        margin-bottom: 0px;
        border: hidden;
        background: none;
       
        transition: .4s;
        
    }
    
    
    .validar-btn{
        font-size: 22px;
        padding: 2px 10px;
        border: hidden;
        background-color: transparent;
        
    }
    
     
   }