@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
  padding: 0;
  margin: 0;
}
.container{
  
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  
 background-image: url(https://png.pngtree.com/background/20210715/original/pngtree-beige-floral-line-background-picture-image_1285742.jpg);
 background-position: center;
 background-size: 70vh;
}
.welcome-enter {
  opacity: 0;
  transform: translateY(-50%);
}

.welcome-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.welcome-exit {
  opacity: 1;
  transform: translateY(0);
}

.welcome-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 300ms, transform 300ms;
}

.welcome-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
.cerrar-btn{
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 50px;
  background-color: transparent;
  border: hidden;
  color: #fff;
}

.welcome-text {
  
  color: #000;
  font-size: 10px;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}

.welcome-enter-active .welcome-text,
.welcome-exit .welcome-text {
  opacity: 1;
  transform: translateY(0);
}
/* App.css */

/* Otros estilos de tu aplicación */

.usuarios-registrados-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.usuarios-registrados-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.usuarios-registrados-exit {
  opacity: 1;
  transform: translateY(0);
}

.usuarios-registrados-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
.imagen-tarjeta {
  height: 500px;
  width: 50%;
  animation: slideIn 1s ease-in-out;
}
.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100vh;
 background-image: url(https://i.pinimg.com/originals/5b/59/49/5b5949fa878d061c9f40664550af5020.gif);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Otros estilos de tu aplicación */



/* Media query para tablet (entre 600px y 767px) */
@media only screen and (max-width: 767px) {
 .container{
  flex-direction: column;
 }
}

/* Media query para móvil (menores de 600px) */
@media only screen and (max-width: 599px) {
  .imagen-tarjeta {
    height: 300px;
    width: 100%;
    animation: slideIn 1s ease-in-out;
}

  
}